html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

img {
    object-fit: cover;
}


/********** Typography **********/

body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}

nav a {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #202124;
}

ul:last-child {
    font-size: .8rem;
}

#login-btn {
    font-size: 1rem;
    color: #fff;
}

input,
button {
    font-family: 'Arial', sans-serif;
}

input {
    font-size: 1.15rem;
}

button {
    color: #3c4043;
}

main > p {
    font-size: small;
    color: #3c4043;
}

main > p a {
    color: #1a0dab;
}

footer,
footer a {
    color: #70757a;
}

footer > p {
    font-size: 1.1rem;
}


/********** Navigation **********/

nav {
    display: flex;
    justify-content: space-between;
    height: 3.8rem;
    width: 100%;
}

nav ul {
    margin: 0 1.6rem;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

nav li {
    list-style: none;
}

nav li + li {
    margin-left: 1.3em;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}

nav .material-icons {
    margin-top: .2rem;
    padding: .5rem;
}

nav .material-icons:hover,
nav .material-icons:focus {
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
}

#login-btn {
    padding: .5em 1.5em;
    background-color: #1a73e8;
    text-decoration: none;
    border-radius: 5px;
}

#login-btn:hover,
#login-btn_focus {
    background-color: #2b7de9;
    box-shadow: 0px 1px 5px rgba(43,125,233, 0.3);
}


/********** Main Layout **********/

.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    min-height: 100vh;
}

main {
    align-self: stretch;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.logo-container {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

main img {
    width: 22rem;
}

main form {
    width: 100%;
}

.search-bar-container {
    margin: 0 auto 2em;
    width: min(36rem, 90%);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 2rem;
    position: relative;
}

.search-bar-container:hover,
.search-bar-container:focus {
    box-shadow:
    0px 1px 5px rgba(0, 0, 0, 0.2);
}

.search-bar-container input {
    padding: .7em;
    width: 86%;
    border: none;
}

.search-bar-container input:focus {
    outline: none;
}

.search-bar-container .material-icons {
    position: absolute;
    top: .5em;
}

.search-bar-container .material-icons:first-child {
    left: .5em;
}

.search-bar-container > .material-icons:last-child {
    right: .5em;
}

button {
    padding: .8em 1.2em;
    background-color: rgb(250, 250, 250);
    border: 1px solid transparent;
    border-radius: 2px;
}

button:hover,
button:focus {
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1); 
}

button + button {
    margin-left: .5em;
}

main > p {
    flex-grow: 3;
    margin-top: 2em;
}

main p a {
    display: inline-block;
    margin-inline: .2em;
    text-decoration: none;
}